body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

input {
    width: 90%;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
}
